nav{
    display: flex;
    background-color: crimson;
    height: 34%;
}

.Header-img{
    width: 42%;
    height: 101%;
}

.Header{
    width: 65%;
    text-align-last: end;
    align-self: center;

}

.Header-Home{
    margin-right: 16%;
    text-decoration: none;
    color: white;
}

.Header-Employees{
    text-decoration: none;
    color: white;
}